@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Special+Gothic:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

header {
    background-color: #5A2A1B;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #B5651D;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #975419;
    transition: 0.25s;
}

button:active {
    transform: scale(1.5);
}

#home-content {
    background-color: #8C3B1B;
    padding: 10rem 2rem;
}

#home-border {
    border: 10px #D9A05B double;
    display: flex;
    justify-content: center;
}

#home-title {
    font-size: 4rem;
    margin: 1rem;
}

#menu-cards {
    background-color: #D9A05B;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.dish {
    background-color: #F4E1C1;
    margin: 1rem;
    padding: 1rem;
    justify-self: center;
    width: auto;
    height: 500px;
    display: grid;
    grid-template-rows: 70% 10% 12.5% 7.5%;
    grid-template-areas: 
        'img'
        'title'
        'desc'
        'price';
}

.dish img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.dish h2 {
    justify-self: center;
    align-self: center;
}

.dish p {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    align-self: center;
}

.dish span {
    align-self: center;
    justify-self: end;
}

#about-content {
    background-color: #8C3B1B;
    padding: 10rem 2rem;
}

#about-border {
    border: 5px #F4E1C1 dashed;
    display: flex;
    justify-content: center;
}

#about-title {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#about-title img {
    height: 4rem;
    fill: #F4E1C1;
}

#about-title span{
    font-size: 4rem;
    font-weight: bold;
    color: #F4E1C1;
}

#about-desc {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}
